*{
    font-family: sans-serif;
}

body{
    margin:0;
    padding: 0;
}

.top{
    background-color: #2341d6;
    color: #fff;
}

.judul{
    font-size: 12pt;
    padding: 10px;
    font-weight: bold;
}

.link{
    margin-top: 20px;
}
    